/*
	Diagram and ASCII ART styling
*/

.language-ascii-art {
 display: inline-block; 
 font-family: "Lucida Console", Monaco, monospace;
 letter-spacing: -0.2em;
 line-height: 0.8em;
 text-shadow: 0 0 5px rgba(100,100,100,0.5);
}

.language-ascii-diagram {
 display: inline-block; 
 font-family: "Lucida Console", Monaco, monospace;
 letter-spacing: -0.1em;
 line-height: 0.9em;
 text-shadow: 0 0 5px rgba(100,100,100,0.5);
}

.language-ascii-art-noshadows {
 display: inline-block; 
 font-family: "Lucida Console", Monaco, monospace;
 letter-spacing: -0.2em;
 line-height: 0.8em;
}

.language-ascii-art-blur {
 color: transparent; /*hide the text this time*/
 display: inline-block; 
 font-family: "Lucida Console", Monaco, monospace;
 letter-spacing: -0.3em;
 line-height: 0.6em;
 text-shadow: 0 0 4px #000000;
}

.language-ascii-art-glow {
 font-family: monospace;
 text-shadow: 0 0 20px , 0 0 40px, 0 0 80px , 0 0 100px;
}

/*

Everything else

*/


body {
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

pre, code {
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 0.85em;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

#header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

#header a:hover {
    text-decoration: none;
}

#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}

#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}


#navigation {
    font-size: 0.9em;
}

#navigation li a {
    padding-left: 10px;
    padding-right: 10px;
}

#navigation .nav-header {
    padding-left: 0;
    padding-right: 0;
}
